{% extends "base.html" %} {% block title %} Password Reset {% endblock %} <!-- Title block containing page title -->

{% block content %} <!-- Content block containing form used to reset a user's password. -->
<div class="password-reset-form"> 
    <h2>Password Reset</h2>
    <form method="POST">
        <div class="form-item">
            <label for="newPassword"> New Password: </label>
            <input type="password" id="newPassword" name="newPassword" >
        </div>
        <div class="form-item">
            <label for="confirmPassword"> Confirm Password: </label>
            <input type="password" id="confirmPassword" name="confirmPassword">
        </div>

        <br/>

        <button name="password-reset" type="submit"> Apply </button>
    </form>
</div>
{% endblock %}