<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/base.css">
    <title> {% block title%} Title {% endblock%} </title>
</head>
<body>
    <div class="navbar">
        <h1><a href="/"> HOME </a></h1>
    </div>

    {% block content %}
    {% endblock %}

    <!-- scroll based on: https://css-tricks.com/how-to-make-an-unobtrusive-scroll-to-top-button/ -->
    <script>
        function scrollDown(string) {
        var element = document.getElementById(string)
        element.scrollTo({
        left: element.scrollLeft + 600,
        behavior: "smooth"
        })}
        function scrollUp(string) {
        var element = document.getElementById(string)
        element.scrollTo({
        left: element.scrollLeft - 600,
        behavior: "smooth"
        })}
    </script>
</body>
</html>