/*  CSS FOR NAVBAR */
.navbar-nav{
    padding: 1em; 
    background-color: #8a111f;
}

.navbar-nav .account-menu{
    display: flex;
    flex-direction: row;
}

.navbar-nav .account-menu .dropdown {
    padding-top: .6em;
}

.navbar-nav .account-menu img{
    margin: 0 .2em;
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 10em;
    background-color: white;
}
/*  CSS FOR NAVBAR       */

/*  CSS FOR SIGN UP PAGE */
.sign-up-form {
    width: 500px;
    height: 550px;
    margin: 1em auto;
    border: 2px solid black;
    border-radius: .3em;
}

.sign-up-form h2 {
    width: fit-content;
    margin: 1em auto;
}

.sign-up-form form {
    display: flex;
    flex-direction: column;
}

.sign-up-form .form-item{
    display: flex;
    flex-direction: column;
    margin: .5em auto;
    font-size: 18px;
}

.sign-up-form input {
    width: 400px;
}

.sign-up-form button {
    margin: auto;
    width: 100px;
    border-radius: .2em;
    background-color: #8a111f;
    color: white;
}

.login-redirect{
    margin: 1em auto;
    text-align: center;
}

.login-redirect h4 {
    margin-bottom: 0;
}

.login-redirect a {
    color: black;
    text-decoration: underline;
}
/*  CSS FOR SIGN UP PAGE */

/*  CSS FOR LOGIN PAGE   */
.login-form {
    width: 500px;
    height: 350px;
    margin: 1em auto;
    border: 2px solid black;
    border-radius: .3em;
}

.login-form h2 {
    width: fit-content;
    margin: 1em auto;
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.login-form .form-item{
    display: flex;
    flex-direction: column;
    margin: .5em auto;
    font-size: 18px;
}

.login-form input {
    width: 400px;
}

.login-form button {
    margin: auto;
    width: 100px;
    border-radius: .2em;
    background-color: #8a111f;
    color: white;
}

.sign-up-redirect{
    margin: 1em auto;
    text-align: center;
}

.sign-up-redirect h4 {
    margin-bottom: 0;
}

.sign-up-redirect a {
    color: black;
    text-decoration: underline;
}
/*  CSS FOR LOGIN PAGE            */

/*  CSS FOR ACCOUNT SETTINGS PAGE */
.user-image{
    margin: 1em auto;
    width: 250px;
}
.user-image img{
    border: 3px solid black;
    border-radius: 10em;
    width: 250px;
    height: 250px;
}

/* ------------------     */
/* CSS FOR USER INFO FORM */

.account-settings-form {
    width: 500px;
    height: 460px;
    margin: 1em auto;
    border: 2px solid black;
    border-radius: .3em;
}

.account-settings-form h2 {
    width: fit-content;
    margin: 1em auto;
}

.account-settings-form form {
    display: flex;
    flex-direction: column;
}

.account-settings-form .form-item{
    display: flex;
    flex-direction: column;
    margin: .5em auto;
    font-size: 18px;
}

.account-settings-form .form-item .form-item-input {
    display: flex;
    flex-direction: row;
    width: 400px;
}

.account-settings-form .form-item .form-item-input input {
    width: 330px;
}

.account-settings-form .form-item .form-item-input button {
    border-radius: .2em;
    margin-left: .2em;
    width: 70px;
    color: white;
    font-size: 15px;
}
/* CSS FOR USER INFO FORM */
/* ------------------ */
/* CSS FOR USER IMAGE UPLOAD */
.account-settings-form .form-item .form-item-file-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}

.account-settings-form .form-item .form-item-file-input button {
    border-radius: .2em;
    margin-left: .2em;
    width: 70px;
    color: white;
    font-size: 15px;
}

.account-settings-form .form-item .form-item-file-input .user-image-input input {
    display: none;
}

.account-settings-form .form-item .form-item-file-input .user-image-input label {
    width: 50px;
    height: 20px;
}

.account-settings-form .form-item .form-item-file-input label {
    margin: auto 0;
    padding: .2em .5em;
    background: gray;
    border: 2px solid black;
    border-radius: .2em;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
/* CSS FOR USER IMAGE UPLOAD */
/* ------------------        */
/* CSS FOR PASSWORD MODAL    */
.account-settings-form .form-item .form-item-input #passwordModal {
    width: 170px;
    background-color: rgb(241, 241, 241);
    border-color: black;
    color: black;
}

.modal-body .form-item {
    display: flex;
    flex-direction: column;
    margin: .3em 4em;
    font-size: 15px;
}
/* CSS FOR PASSWORD MODAL */
/* ------------------     */
/* CSS FOR THEME SETTINGS */
.theme-settings-form {
    width: 500px;
    height: 250px;
    margin: 1em auto;
    border: 2px solid black;
    border-radius: .3em;
}

.theme-settings-form h2 {
    width: fit-content;
    margin: .7em auto;
}

.theme-settings-form form {
    display: flex;
    flex-direction: column;
}

.theme-settings-form .form-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 210px;
    margin: .5em auto 0 auto;
    font-size: 18px;
    
}

.theme-settings-form .form-item label {
    text-align: left;
}

.theme-settings-form button {
    margin: 0 auto;
    width: 130px;
    border-radius: .2em;
    color: white;
}
/*  CSS FOR ACCOUNT SETTINGS PAGE */